html, body {
  background-color: rgb(250, 253, 255);
}

#map {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

#location_text {
  margin-top: 8%;
  width: 80%;
  margin-left: 10%;
  font-size: 2.8vmin;
}

h1 {
  font-size: 2.9vmin;
}

@media screen and (max-width: 800px) {
  #location_text {
    font-size: 3.2vmin;
  }

  #location_text h1{
    font-size: 3.3vmin;
  }
}